.score{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

@media only screen and (max-width: 840px) {
    .score {
        width: 50%;
    }
}
.score .points{

}
.moves-text.changed{
    animation:moves-text-bounce .3s ease-out;
    width: min-content;
}
.score-text{
    /* opacity: 0; */
}
.score-text.changed {
    /* opacity: 1; */
    /* transition: opacity 100ms linear; */
    animation:score-text-bounce .3s ease-out;
    width: min-content;
}
@keyframes score-text-bounce{
    0%,100% { transform:scale(1) }
    50% { transform:scale(2); color:green; }
}
@keyframes moves-text-bounce{
    0%,100% { transform:scale(1) }
    50% { transform:scale(2); color:red; }
}