.container{
	display: flex;
	flex-wrap: wrap;
}

.main-container {
	display: flex;
	justify-content: center;
}
.board-container {
	justify-content: center;
	display: flex;
}
.left-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	min-width: 30%;
	max-width: 30%;
}
.left-container > div {
	flex-basis: fit-content;
}
.score-container {
	flex-basis: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/* .nextPieces-container {
	flex-basis: fit-content;
} */

@media only screen and (max-width: 840px) {
	.main-container {
		flex-direction: column;
	}
}
@media only screen and (max-width: 992px) {
	.main-container .left-container {
		flex-direction: unset;
	}

	.left-container {
		min-width: unset;
		max-width: unset;
	}
}

/* @media only screen and (max-width: 767px) {
	.main-container .left-container {
		flex-wrap: unset;
	}
} */
